body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, section, footer, .resume-header, .personal-info, .resume-body, .work-experience, .education, .skills, .activities, .awards, .certifications, .projects {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

h1, h2, h3 {
    color: #333;
}

.resume-header h1, .resume-header p, .projects h2, .projects h3, .projects p, .projects a, footer p {
    text-align: center;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.personal-info p, .work-experience p, .education p, .skills ul, .activities p, .awards p, .certifications p {
    margin-bottom: 15px;
}

.dates, .project a {
    font-style: italic;
    font-size: 0.9em;
    color: #666;
}

ul {
    padding-left: 20px;
}

.project {
    margin-bottom: 20px;
}

.project a {
    display: inline-block;
    margin-top: 10px;
    color: #0066cc;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}
